body{
    margin: 0;
    padding: 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #170f29;
    }
    ul
    {
    float: right;
    list-style-type: none;
    margin-top: 20px;
    }
    ul li
    {
    display: inline-block;
    }
    ul li a 
    {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    }
    ul li a:hover
    {
    background-color: #fff;
    color: #000;
    }
    ul li.active a
    {
    background-color:rgb(80, 130, 223);
    color:#000;
    }
    .logo img
    {
    margin-top: 10px;
    float: left;
    width: 150px;
    height: auto;
    }
    .main
    {
    max-width: 1300px;
    margin: auto;
    }
    .navbar{
        background-color: #000;
    }
    .title
    {
    position: absolute;
    top: 30%;
    padding-right: 200px;
    padding-left: 200px;
    text-align: center;
    align-items: center;
    }
    p
    {
        color: #fff;
    }
    .title h1
    {
    color: rgb(80, 130, 223);
    font-size: 50px;
    }
    .button
    {
    position: absolute;
    top: 65%;
    left: 35%;
    transform: translate(-50%,-50%);
    }
    .btn
    {
    border: 2px solid rgb(80, 130, 223);
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 00.6s ease;
    }
    .btn:hover
    {
    background-color: #fff;
    color: #000;
    }
    
    
    .l{
        padding-top: 60px;
        padding-left: 30%;
        width: 400px;
    }
    .lo{
        padding-top: 130px;
        padding-left: 30%;
        width: 400px;
    }
    .wrapper {
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1) 0 32px 64px --48px rgba(0, 0, 0, 0.5);
    }
    
    /*signup form CSS code*/
    .form {
        padding: 25px 30px;
    }
    
    .form header {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
        border-bottom: 1px solid #e6e6e6;
    }
    
    .form form {
        margin: 20px 0;
    }
    
    .form form .error-txt {
        color: #723c1c;
        background: #f8d7da;
        padding: 8px 10px;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 10px;
        border: 1px solid #f5c6cb;
        display: none;
    }
    
    .form form .name-details {
        display: flex;
    }
    
    form .name-details .field:first-child {
        margin-right: 10px;
    }
    
    form .name-details .field:last-child {
        margin-left: 10px;
    }
    
    .form form .name-details {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    .form form .field {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    .form form .field input {
        outline: none;
    }
    
    .form form .input input {
        height: 40px;
        width: 100%;
        font-size: 16px;
        padding: 0 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .form form .image input {
        font-size: 17px;
    
    }
    
    .form form .button input {
        margin:auto;
        height: 45px;
        border: none;
        font-size: 17px;
        font-weight: 400;
        background-color: rgba(38, 8, 84, 0.898);
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .form form .field label {
        margin-bottom: 2px;
    }
    
    .form form .field i {
        position: absolute;
        right: 15px;
        color: #ccc;
        top: 70%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    
    .form form .field i.active::before {
        content: "\f070";
        color: #333;
    }
    
    .form .link {
        text-align: center;
        /* margin: 10px; */
        font-size: 17px;
    }
    
    .form .link a {
        color: #333;
    }
    
    .form .link a:hover {
        text-decoration: underline;
    }